.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #AAB1B0;
    background: #2C2022;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    &.selected {
        border: 5px solid #A90006;
        background: linear-gradient(#F57602, #D52F10);
        .label {
            &.currency {
                color: #FFD900;
            }
        }
    }
    .label {
        &.currency {
            font-weight: 900;
            font-size: 15px;
            color: #fff;
            text-align: left;
        }
        &.value {
            font-weight: 900;
            color: #fff;
            text-align: left;
            font-size: 18px;
        }
        &.bet {
            font-weight: 500;
            font-size: 15px;
            color: #FFD900;
            text-align: left;
        }
    }
}