.block {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    @media screen and (min-width: 992px) {
        flex-direction: column;
    }

    &.mobile {
        .autospin {
            margin-left: -5px;
            background-image: url('../../../../assets/m-autospin.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: -4px;
            width: 125px;
            height: 95px;
            &.nominales_selector {
                transform: rotate(-90deg) !important;
                margin-right: 10px;
                margin-left: 0;
                flex-direction: row-reverse;
                margin-bottom: -20px;
                width: 95px;
                height: 125px;
                .icon {
                    transform: rotate(90deg) !important;
                }
    
                .value {
                    margin-right: -20px;
                    transform: rotate(90deg) !important;
                }
            }
        }
        .nominales-selector {
            left: -150px;
            bottom: -200px;
            &.open {
                left: auto;
                bottom: 300px;
            }
        }
    }
    .nominales-selector {
        position: absolute;
        left: 50px;
        transition: .3s all ease-in-out;

        &.open {
            left: -310px;
        }
    }

    .autospin {
        cursor: pointer;
        width: 95px;
        height: 125px;
        background-image: url('../../../../assets/autospin.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: -15px;

        &.nominales_selector {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            transform: rotate(180deg);
            margin-top: -15px;
            background-image: url('../../../../assets/nominale_selector.svg');

            .icon {
                width: 40px;
                height: 40px;
                background-image: url('../../../../assets/nominal_settings.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            .value {
                transform: rotate(-180deg);
                font-weight: 900;
                font-size: 27px;
                color: #FFD900;
                text-align: left;
            }
        }
    }

    .spin {
        cursor: pointer;
        width: 175px;
        height: 205px;
        background-image: url('../../../../assets/spin.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &.animate {
            transform: scale(1.1);
        }

        &.stop {
            background-image: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.8);
            border: 3px solid #ccc;
            border-radius: 100%;
            width: 175px;
            height: 175px;

            .spinsCounter {
                width: 45px;
                height: 45px;
                background: linear-gradient(#DDDDDD, #7B7B7B);
                font-size: 17px;
                display: flex;
                justify-content: center;
                align-items: center;

                &.infiniteLoop {
                    font-size: 25px;
                }
            }
        }
    }
}