.content {
    .label {
        font-weight: 900;
        font-size: 13px;
        color: #fff;
        text-align: left;
    }
    .value {
        font-weight: 900;
        font-size: 21px;
        color: #fff;
        text-align: left;
    }
}