    .data {
        border-radius: 10px;
        width: initial;
        height: 100%;
        display: grid;
        width: 100%;
        justify-content: initial;
        align-items: initial;
        grid-template-rows: minmax(73px, 73px) minmax(0, 1fr) minmax(50px, 50px);
        app-spin-buttons {
            display: block;
            @media screen and (min-width: 992px) {
                display: none;
            }
        }
        app-label-value {
            display: none;
        }
        @media screen and (min-width: 992px) {
            height: initial;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            padding-inline: 15px;        
            border: 5px solid #b80011;
            background-color: #3E0006;
            display: grid;
            grid-template-columns: auto minmax(0, 4fr) minmax(0, 1fr) auto ;
            grid-template-rows: initial;
            border-radius: 10px;
            flex-direction: row;
            height: 100px;
            box-sizing: border-box;
            gap: 0 10px;
            app-label-value {
                display: flex;
            }
        }

        .bets {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            width: 100%;

            .balance {
                order: 1;
                @media screen and (min-width: 992px) {
                    order: initial;
                }
            }

            .last_win {
                order: 2;
                @media screen and (min-width: 992px) {
                    order: initial;
                }
            }

            .nominales {
                order: 3;
                grid-column: 1 / span 2;
                display: grid;
                grid-template-columns: repeat(5, minmax(0, 1fr));
                padding-inline: 15px;

                @media screen and (min-width: 992px) {
                    order: initial;
                    grid-column: initial;
                    display: grid;
                    grid-template-columns: repeat(5, minmax(0, 1fr));
                }
            }

            &>div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-inline: 0;
            }

            @media screen and (min-width: 992px) {
                width: initial;
                display: grid;
                align-items: center;
                grid-template-columns: minmax(0 ,160px) auto minmax(0 ,160px);
            }
        }

        .block {
            &.balance {
                flex: 2;
                display: none;
                @media screen and (min-width: 992px) {
                    display: flex;
                }
            }

            &.value {
                flex: 1;
            }

            &.bet {
                flex: 1;
            }

            &.nominales {
                flex: 3;
                grid-template-columns: repeat(5, minmax(0, 1fr));
                display: grid;
                width: 100%;
                gap: 0 10px;
                @media screen and (min-width: 992px) {
                    gap: 0 20px;
                }
            }

            &.last_win {
                flex: 1;
                display: none;
                @media screen and (min-width: 992px) {
                    display: flex;
                }
            }

            &.action_buttons {
                flex: 2;
                display: flex;
                align-items: center;
                width: 100%;
                margin-inline: 0;
                justify-content: space-between;
                
                @media screen and (min-width: 992px) {
                    justify-content: space-evenly;
                    width: initial;
                }

                .icon {
                    cursor: pointer;
                    margin: 5px;
                    width: 35px;
                    height: 35px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    &.info {
                        background-image: url('../../../assets/icons/info.svg');
                        display: none;
                        @media screen and (min-width: 992px) {
                            display: block;
                        }
                    }

                    &.volume {
                        &.on {
                            background-image: url('../../../assets/icons/volume.svg');
                        }

                        &.off {
                            background-image: url('../../../assets/icons/volume_off.svg');
                        }
                    }

                    &.menu {
                        background-image: url('../../../assets/icons/list.svg');
                    }

                    &.full_screen {
                        background-image: url('../../../assets/icons/full-screen.svg');
                        display: none;
                        @media screen and (min-width: 992px) {
                            display: block;
                        }
                    }
                }
            }
        }
    }