#reels {
    display: grid;
    gap: 0 10px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: minmax(0, 1fr);
    .reel {
        height: 100%;
        border-radius: 10px;
        background: linear-gradient(#fe8900 0%, #df2314 50%, #fe8900 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        .cont {
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            border-radius: 10px;
            background-color: #3E0006;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;
        }

        &.bonus {
            box-shadow: 1px -1px 10px 7px rgba(255,255,255,0.75);
            -webkit-box-shadow: 1px -1px 10px 7px rgba(255,255,255,0.75);
            -moz-box-shadow: 1px -1px 10px 7px rgba(255,255,255,0.75);
        }
    }
}