<div class="content" *ngIf="loading == false">
  <div class="container">
    <div class="header">
      <div class="title"></div>
    </div>
    <div class="cont">
      <div class="side left">
        <app-lines [hasButtons]="false"></app-lines>
      </div>
      <div class="middle">
        <div class="game">
          <app-game-container class="container" [gameData]="data.game" [lines]="data.winByLines" (onAction)="handleAction($event)" #gameContainer></app-game-container>
        </div>
        <div class="informationText">
          <span> {{ informationText }}</span>
        </div>
        <div class="bottom-panel">
            <app-bonus-button [freeSpins]="data.game.freeSpins.count" (onAction)="handleAction($event)"></app-bonus-button>
            <app-action-panel [data]="data" (onAction)="handleAction($event)"></app-action-panel>
        </div>
      </div>
      <div class="side right">
        <app-lines [hasButtons]="true" [data]="data" [nominales]="data.game.nominales" [selectedNominale]="data.game.selectedNominale" (spin)="onSpin()" (autoSpin)="onAutoSpin()" (onAction)="handleAction($event)"></app-lines>
      </div>
    </div>
  </div>
</div>
<app-modal *ngIf="data.modal.currentModal !== ''" class="modal" [data]="data" (onAction)="handleAction($event)"></app-modal>
<app-loader *ngIf="loading == true"></app-loader>