.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/background_main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .container {
        width: 100%;
        height: 100%;
        .header {
            margin: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            .title {
                width: 500px;
                height: 60px;
                background-image: url('../assets/headline.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .cont {
            display: flex;
            justify-content: center;
            align-items: center;

            .side {
                height: 765px;

                &.left {
                    margin-right: 25px;
                }
            }

            .middle {
                .game {
                    height: 705px;
                }
                .informationText {
                    height: 35px;
                    margin-top: -45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 10px;
                    span {
                        font-size: 22px;
                        color: #fff;
                        font-weight: bold;
                    }
                }

                .bottom-panel {
                    height: 80px;
                    margin-top: 0px;
                    padding: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .content {    
        .container {
            .header {
                margin: 15px;
                
                .title {
                    width: 400px;
                    height: 45px;
                }
            }    
            .cont {
                .side {
                    height: 525px;
                    
                    &.right {
                        margin-left: 25px;
                    }
                    
                }
                .middle {
                    .game {
                        height: 525px;
                    }
                    .informationText {
                        margin-top: 50px;
                        padding-bottom: 6px;
                    }
                    .bottom-panel {
                        height: 75px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .content {    
        .container {
            .header {
                margin: 10px;
                
                .title {
                    width: 300px;
                    height: 40px;
                }
            }    
            .cont {
                .side {
                    height: 400px;
                    &.right {
                        margin-left: 25px;
                    }
                    
                }
                .middle {
                    width: calc(100vw - 480px);
                    .game {
                        height: 400px;
                    }
                    .informationText {
                        margin-top: 50px;
                        padding-bottom: 6px;
                    }
                    .bottom-panel {
                        height: 65px;
                        margin-top: 5px;
                        width: 700px;
                        margin-left: -110px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 920px) {
    .content {    
        .container {
            margin: 0;
            .header {
                margin: 5px;
                
                .title {
                    width: 250px;
                    height: 40px;
                }
            }    
            .cont {
                .side {
                    height: 210px;
                    margin-top: -100px;
                    
                    &.right {
                        margin-left: 5px;
                    }
                    
                }
                .middle {
                    width: calc(100vw - 350px);
                    .game {
                        width: 100%;
                        height: 210px;
                        margin: 0;
                    }
                    .informationText {
                        margin-top: 40px;
                        padding-bottom: 6px;
                        span {
                            font-size: 17px;
                        }
                    }
                    .bottom-panel {
                        width: 700px;
                        height: 55px;
                        margin-top: -10px;
                        margin-left: -110px;
                    }
                }
            }
        }
    }
}