.loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

app-game-container {
    display: grid;
    grid-template-rows: minmax(0, 1fr);
}

.content {
    padding: 20px 0;
    box-sizing: border-box;
    height: 100vh;
    min-height: 680px;
    background-image: url('../assets/background_main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;  
    
    .wrapper {
        display: grid;
        grid-template-rows: minmax(0, 60px) minmax(0, 350px) minmax(0, 100px);
        grid-template-columns: minmax(0, 80px) minmax(0, 1fr) minmax(0, 80px);
        height: 100%;
        @media screen and (min-width: 992px) {
            grid-template-rows: minmax(0, 60px) minmax(0, 1fr) minmax(0, auto);
        }
    }
    .title {
        grid-column: 1 / 4;
        img {
            width: 330px;
            display: block;
            margin: auto;
        }
    }
    .cont {
        grid-column: 1 / 4;
        display: grid;
        gap: 0 10px;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr) minmax(0, 40px);
        app-lines {
            display: none;
        }
        @media screen and (min-width: 992px) {
            grid-template-columns: minmax(0, 80px) minmax(0, 1fr) minmax(0, 80px);
            app-lines {
                display: block;
            }
        }
        .informationText {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @media screen and (min-width: 992px) {
                grid-column: 1 / 4;
            }
            span {
                font-size: 22px;
                color: #fff;
                font-weight: bold;
            }
            .symbols {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                margin: 0px 10px;
                .symbol {
                    width: 25px;
                    height: 25px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }

    .bottom-panel {
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns:minmax(0, 1fr) minmax(0, 2fr) minmax(0, 2fr);
        gap: 20px;
        
        @media screen and (min-width: 992px) {
        }

        app-label-value {
            background: rgb(62, 0, 6);
            border: 5px solid rgb(184, 0, 17);
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding-inline: 15px;
            box-sizing: border-box;
            @media screen and (min-width: 992px) {
                display: none;
            }
        }

        app-action-panel {
            grid-column: 1 / 4;
            @media screen and (min-width: 992px) {
                grid-column: initial;
            }
        }
        
        @media screen and (min-width: 992px) {
            gap: 10px;
            grid-template-columns: minmax(0, 170px) minmax(0, 1fr);
        }
    }
}