<div class="content" [hidden]="loading == true">

  <div class="container wrapper">
    <!-- title -->
    <div class="title">
      <img src="assets/headline.png">
    </div>

    <!-- main content -->
    <div class="cont">
      <app-lines [hasButtons]="false"></app-lines>
      <app-game-container [data]="data" [gameData]="data.game" [lines]="data.winByLines" (onAction)="handleAction($event)"
        #gameContainer></app-game-container>
      <app-lines [hasButtons]="true" [data]="data" [nominales]="data.game.nominales"
        [selectedNominale]="data.game.selectedNominale" (spin)="onSpin()" (autoSpin)="onAutoSpin($event)"
        (onAction)="handleAction($event)"></app-lines>

      <div *ngIf="!winninSymbols" class="informationText">
        <span> {{ informationText }}</span>
      </div>
      <div *ngIf="winninSymbols" class="informationText">
        <div class="line">
          <span> Line {{ winninSymbols.lineId }}</span>
        </div>
        <div class="symbols">
          <div *ngFor="let symbol of winninSymbols.symbols" class="symbol"
            [ngStyle]="{'background-image': 'url(./assets/symbols/'+symbol+'.svg)'}"></div>
        </div>
        <div *ngIf="winninSymbols" class="informationText">
          <div class="line">
            <span *ngIf="winninSymbols.lineId > 0"> Line {{ winninSymbols.lineId }}</span>
            <span *ngIf="winninSymbols.lineId == 0"> Scatter </span>
          </div>
          <div class="symbols">
            <div *ngFor="let symbol of winninSymbols.symbols" class="symbol" [ngStyle]="{'background-image': 'url(./assets/symbols/'+symbol+'.svg)'}"></div>
          </div>
          <div class="ammount">
            <span> {{ winninSymbols.wonAmmount }} {{ data.user.currency }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-panel">
      <app-bonus-button class="bonus_button" [freeSpins]="data.game.freeSpins.count" (onAction)="handleAction($event)">
      </app-bonus-button>
      <app-label-value
        label="balance"
        [spinning]="false"
        [hasAnimation]="false"
        [value]="balance"
      ></app-label-value>
      <app-label-value
        [spinning]="data.game.spinning"
        [clearAnimation]="data.game.freeSpins.isActive"
        [label]="isBonus ? 'win' : 'last win'"
        [hasAnimation]="true"
        [isBonus]="isBonus"
        [value]="wonAmmount()"
      ></app-label-value>
      <app-action-panel [data]="data" (onAction)="handleAction($event)"></app-action-panel>
    </div>
  </div>
</div>

<app-modal *ngIf="data.modal.currentModal !== ''" class="modal" [data]="data" (onAction)="handleAction($event)"></app-modal>
<app-loader class="loader" *ngIf="loading"></app-loader>