<div class="content">
  <div class="container">
    <div class="header">
      <div class="title"></div>
    </div>
    <div class="cont">
      <div class="side left">
        <app-lines [hasButtons]="false"></app-lines>
      </div>
      <div class="middle">
        <div class="game">
          <app-game-container class="container" #gameContainer></app-game-container>
        </div>
        <div class="bottom-panel">
            <app-bonus-button></app-bonus-button>
            <app-action-panel></app-action-panel>
        </div>
      </div>
      <div class="side right">
        <app-lines [hasButtons]="true" (spin)="onSpin()" (autoSpin)="onAutoSpin()"></app-lines>
      </div>
    </div>
  </div>
</div>