.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/background_main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .container { 
        height: 100%;
        .header {
            margin: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            .title {
                width: 500px;
                height: 60px;
                background-image: url('../assets/headline.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .cont {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .side {
                height: 765px;

                &.left { 
                    position:absolute;
                    left:-100px;
                    top:2px;
                }
                &.right { 
                    position:absolute;
                    right:-100px;
                    top:2px;
                }
            }

            .middle {
                .game {
                    height: 705px;
                }
                .informationText {
                    height: 35px;
                    margin-top: -45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 10px;
                    span {
                        font-size: 22px;
                        color: #fff;
                        font-weight: bold;
                    }
                    .symbols {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        margin: 0px 10px;
                        .symbol {
                            width: 25px;
                            height: 25px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }

                .bottom-panel {
                    height: 80px;
                    margin-top: 0px;
                    padding: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}



