<div class="cont">
    <div class="background"></div>
    <div class="content">
        <div class="title">
            <span>
                {{ data.headText }}
            </span>
        </div>
        <div class="bonus-img" [ngClass]="getClass(data.data.typeID)"></div>
        <div class="info">
            {{ data.infoText }}
        </div>
        <div class="buttons" *ngIf="data.buttons.length > 0">
            <div class="btn" (click)="onClick(true)">
                OK
            </div>
            <div *ngIf="data.data.firstBuy == true" class="btn" (click)="onClick(false)">
                CANCEL
            </div>
        </div>
    </div>
</div>