<div class="modal">
    <div class="header">
        <span class="title">
            BUY WILD BONUS
        </span>
    </div>
    <div class="content">
        <span  class="close" (click)="close()"> X </span>
        <app-buy-freespins
            *ngIf="data.modal.currentModal == 'bonus'"
            [freeSpins]="data.freespinTypes"
            [selectedBet]="data.game.selectedBet"
            [betMultipliers]="data.game.betMultipliers"
            [gameLine]="data.game.gameLine"
            [selectedNominale]="data.game.selectedNominale"
            (onAction)="bubbleAction($event)"
        ></app-buy-freespins>
    </div>
</div>