<div class="cont">
    <div class="content">
        <div class="bonus-img" [ngClass]="getClass(data.data.typeID)"></div>
        <div class="ammount">
            {{ data.ammount }}
        </div>
        <div class="buttons" *ngIf="data.buttons.length > 0">
            <div class="btn" *ngFor="let modal of data.buttons" [style.background]="modal.backgroundColor" (click)="onClick(modal.action, modal.actionData)">
                {{ modal.text }}
            </div>
        </div>
    </div>
</div>