.bonus {
    cursor: pointer;
    width: 190px;
    height: 70px;
    background-color: #3E0006;
    border: 15px solid transparent;
    border-image: url('../../../assets/borders/bottom_small.svg') 30 round;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .logo {
        width: 75px;
        height: 75px;
        background-image: url('../../../assets/symbols/leaf.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1;
    }

    .text {
        color: #FFF;
        font-size: 16px;
        font-weight: 900;
        flex: 1;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 1600px) {
    .bonus {
        cursor: pointer;
        width: 150px;
        height: 65px;
    
        .logo {
            width: 65px;
            height: 65px;
        }
    
        .text {
            font-size: 14px;
        }
    }
    
}