<div class="cont">
    <div class="content">
        <div class="lines" *ngIf="!hasButtons">
            <div class="fixedLines" *ngIf="showLines(line)">
                <span>LINES</span>
                <span>FIXED</span>
            </div>
            {{ line }}
        </div>
        <app-spin-buttons
            class="buttons"
            *ngIf="hasButtons"
            [data]="data"
            [nominales]="data.game.nominales"
            [selectedNominale]="data.game.selectedNominale"
            (spin)="onSpin()"
            (autoSpin)="onAutoSpin()"
            (onAction)="bubbleAction($event)"
            [ngStyle]="{'opacity': data.game.spinning == true && autoSpinInProgress == false ? 0 : 1}"
        ></app-spin-buttons>
    </div>
</div>
